/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS file within this directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the top of the
* compiled file, but it's generally better to create a new file per style scope.
*
*= require bootstrap
*= require grails
*= require main
*= require mobile
*= require_self
*/

a {
    margin-right: 20px;
    color: green;
}

h1 {
    margin-left: 5%;
}

h2 {
    margin-left: 5%;
    margin-right: 20%;
}

input {
    margin-left: 5%;

}

body{
    background-color: #F9F9F9;
    background-image: url("background.png");
    background-position: right bottom;
    background-repeat: no-repeat;

}

.message{
    border-color: transparent;
    background-image: none;
    shape-rendering: none;
    box-shadow: none;
    color: dimgrey;
    font-size: 15px;
    text-align: center;
    margin-top: 22px;
}
